<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/HomeDesign.css">
    <title id="title">Ethan Robinson - Software Developer</title>
</head>

<body>
    <header>
        <h1>Ethan Robinson - Software Developer</h1>
    </header>

    <div class="container">
        <h2 id="subHeading">About Me</h2>
        <p>
            I am a student software developer with skills in front-end and back-end development. My expertise includes
            Android Studio, .NET Framework, Kotlin, HTML, CSS, Java, and C#.
        </p>

        <h2 id="subHeading">What I Can Do</h2>
        <ul>
            <li>Android Development</li>
            <li>Web Development</li>
            <li>Desktop App Development</li>
        </ul>
    </div>
    <div class="socials-container">
        <h2 id="subHeading">Connect with me </h2>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
              integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
        <link rel="stylesheet" href="~/css/socialsStyle.css" />
        <ul class="socials">
            <li>
                <a href="#">
                    <i class="fab fa-facebook-f icon"></i>
                </a>
            </li>
            <li>
                <a href="#"><i class="fab fa-instagram icon"></i></a>
            </li>
            <li>
                <a href="#"><i class="fab fa-linkedin-in icon"></i></a>
            </li>
            
            <li>
                <a href="#"><i class="fab fa-whatsapp icon"></i></a>
            </li>
        </ul>
    </div>

</body>

</html>
